* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fafaec;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fafaec;
    height: 100px;
    width: 100%;
}


.left-corner {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.right-corner {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.logo {
    height: 80px;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1 em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #7b602a;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #7b602a;
    color: white;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Za vrlo mali ekran, poput telefona u portretnom režimu */
@media (max-width: 480px) {
    .navbar {
        padding: 5px 10px;
    }

    .navbar .logo {
        height: 40px;
    }

    nav ul li a {
        font-size: 1em;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
    }

    .navbar .logo {
        height: 50px; /* Manji logo za mobilne uređaje */
    }

    nav ul li a {
        font-size: 0.9em;
    }

    .header {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px 10px;
    }

    .navbar .logo {
        height: 40px;
    }

    nav ul {
        flex-direction: column; /* Navigacija u vertikalnom smjeru */
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px; /* Razmak između linkova */
    }

    .header {
        padding: 15px;
    }

    nav ul li a {
        font-size: 1.1em;
    }
}
